<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="/fragments :: head">
</head>
<body>
<h1>Your information</h1>
<form action="#" th:action="@{/user/update}" th:object="${tcblUser}" method="post">
     <label for="firstName">First name</label>
     <input type="text" th:field="*{firstName}"/><br>
     <label for="lastName">Last name</label>
     <input type="text" th:field="*{lastName}"/><br>
     <input type="hidden" th:field="*{id}"/>
     <input type="submit" value="Update"/>
</form>
<p><a href="/index" th:href="@{/index}">Back to home page</a></p>
</body>
</html>