<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: standard-head">
</head>
<body>
<div th:replace="fragments :: standard-body-div( ~{::h1}, ~{::main}, 0)">
	<h1>Manage your profile</h1>
	<main>
		<th:block th:if="${tcblUser} != null">
			<form action="#" th:action="@{/user/update}" th:object="${tcblUser}" method="post">
				<fieldset>
					<legend>Your profile information</legend>
					<div class="row">
						<div class="columns large-2">
							<label for="firstName">First name</label>
							<input type="text" name="firstName" id="firstName" th:field="*{firstName}" required/>
						</div>
						<div class="columns large-2">
							<label for="lastName">Last name</label>
							<input type="text" name="lastName" id="lastName" th:field="*{lastName}" required/>
						</div>
					</div>
					<div class="row">
						<div class="columns large-2">
							<input type="checkbox" th:field="*{subscribedNL}"/>
							<label class="label--checkbox" th:for="${#ids.prev('subscribedNL')}">I want to receive the TCBL newsletter.</label>
						</div>
					</div>
					<div class="row">
						<div class="columns large-2">
							<input type="checkbox" th:field="*{acceptedPP}"/>
							<label class="label--checkbox" th:for="${#ids.prev('acceptedPP')}">I accept the TCBL privacy policy.</label>
						</div>
					</div>
				</fieldset>

				<input type="submit" value="Update" class="button button--red"/>
				<input type="hidden" th:field="*{id}"/>
				<!--/* post all other tcblUser's properties in the returned TCBLUser object as well! */-->
				<input type="hidden" th:field="*{userName}"/>
				<input type="hidden" th:field="*{active}"/>
			</form>
		</th:block>
	</main>
</div>
</body>
</html>