<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head">
<body>

<!-- if registration failed -->
<div th:if="${message} != null" class="row">
    <img src="@{/assets/TCBLAltsm.png}">
    <h1>Resetting password failed</h1>
    <p>We are sorry to tell you that setting your password failed. Please <a class="normal" th:href="@{/user/resetpw}">try again</a>.
</div>

<!-- if successful -->
<div th:unless="${message} != null" class="row">
    <h1>Password successfully set!</h1>
    <p>You are successfully registered. You can now log in with your new password to the following TCBL services or Associated Service
        Providers:</p>
    <ul>
        <li><a href="http://tcbl.ditf-mr.de/">TCBL website</a></li>
        <li><a href="http://labs.tcbl.eu/">TCBL Labs</a></li>
    </ul>
</div>

<div th:replace="index :: footer"/>
</body>
</html>