<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments :: head">
<body>

<!-- if password reset failed -->
<div th:if="${message} != null">
    <div th:replace="/fragments :: header( ~{::h1}, ~{::aside})">
        <h1>Resetting password failed</h1>
        <aside>
            <p>
                <br>We are sorry to tell you that setting your password failed. Please <a class="normal"
                                                                                          th:href="@{/user/resetpw}">try
                again</a>.
            </p>
        </aside>
    </div>
</div>

<!-- if successful -->
<div th:unless="${message} != null">
    <div th:replace="/fragments :: header( ~{::h2}, ~{::main})">
        <h2>Password successfully set!</h2>
        <main>
            <p><br>Your new password is set. You can now log in to the following TCBL
                services or Associated Service Providers:</p>
            <ul>
                <li><a href="http://tcbl.ditf-mr.de/">TCBL website</a></li>
                <li><a href="http://labs.tcbl.eu/">TCBL Labs</a></li>
            </ul>
        </main>
    </div>
</div>

</body>
</html>