<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments :: head">
<body>

<!-- if registration failed -->
<div th:if="${message} != null">
    <div th:replace="/fragments :: header( ~{::h1}, ~{::aside})">
        <h1>Resetting password failed</h1>
        <aside>
            <p><br>We are sorry to tell you that resetting the password failed. This is the reason: </p>
            <p th:text="${message.message}"></p>
            <p>Please <a class="normal" th:href="@{/user/resetpw}">try again</a>.</p>
        </aside>
    </div>
</div>

<!-- if successful -->
<div th:unless="${message} != null">
    <div th:replace="/fragments :: header( ~{::h2}, ~{::main})">
        <h2>Reset password mail sent</h2>
        <main>
            <p><br>An e-mail with a link to reset your password will be sent to you shortly.
                The link is <b>only valid for one hour</b>, starting now.</p>
            <p>If it doesn't arrive within one hour, please <a class="normal" th:href="@{/user/resetpw}">try again</a>.
            </p>
        </main>
    </div>
</div>

</body>
</html>