<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: standard-head">
</head>
<body>
<div th:replace="fragments :: standard-body-div( ~{::h1}, ~{::main}, 0)">
	<h1>Sign up for TCBL</h1>
    <main>
        <th:block th:if="${tcblUser} != null">
			<form action="#" th:action="@{/user/register}" th:object="${tcblUser}" method="post" name="regForm"
				  onsubmit="return validatePassword()">
				<fieldset>
					<legend>Login details</legend>
					<div class="row">
						<div class="columns large-3">
							<label for="userName">E-mail</label>
							<input type="email" name="userName" id="userName" th:field="*{userName}" required/>
						</div>
						<div class="columns large-3">
							<label for="password">Password</label>
							<input type="password" name="password" id="password" th:field="*{password}" autocomplete="off" required/>
						</div>
						<div class="columns large-3">
							<label for="cpassword">Confirm Password</label>
							<input type="password" name="cpassword" id="cpassword" autocomplete="off" value="" required/>
						</div>
					</div>
				</fieldset>

				<fieldset>
					<legend>Profile information</legend>
					<div class="row">
						<div class="columns large-2">
							<label for="firstName">First name</label>
							<input type="text" name="firstName" id="firstName" th:field="*{firstName}" required/>
						</div>
						<div class="columns large-2">
							<label for="lastName">Last name</label>
							<input type="text" name="lastName" id="lastName" th:field="*{lastName}" required/>
						</div>
					</div>
				</fieldset>

				<input type="submit" value="Sign up for TCBL now" class="button button--red"/>
			</form>
        </th:block>
    </main>
</div>
<script th:replace="fragments :: validatePassword"></script>
</body>
</html>