<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head">
<body>

<!--div th:substituteby="index::logout"></div-->
<div class="row">
    <h1>Sign up to TCBL</h1>
    <p class="smallFont">All fieds are required.</p>
    <form action="#" th:action="@{/user/register}" th:object="${tcblUser}" method="post" name="regForm"
          onsubmit="return validateForm()">
        <fieldset>
            <legend>Login details</legend>
            <div class="row">
                <div class="columns large-3">
                    <label for="userName">E-mail</label>
                    <input type="email" th:field="*{userName}" required/>
                </div>
                <div class="columns large-3">
                    <label for="password">password</label>
                    <input type="password" th:field="*{password}" required/>
                </div>
                <div class="columns large-3">
                    <label for="cpassword">Confirm Password</label>
                    <input type="password" id="cpassword" name="cpassword" value="" required/>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <div class="row">
                <legend>Personal information</legend>
                <div class="columns large-2">
                    <label for="firstName">First name</label>
                    <input type="text" th:field="*{firstName}" required/>
                </div>
                <div class="columns large-2">
                    <label for="lastName">Last name</label>
                    <input type="text" th:field="*{lastName}" required/>
                </div>
            </div>
        </fieldset>

        <input type="submit" value="SIGN UP NOW" class="red-button"/>
    </form>
</div>

<div th:replace="index :: footer"/>

<script>
    function validateForm() {
        var p1 = document.forms["regForm"]["password"].value;
        var p2 = document.forms["regForm"]["cpassword"].value;
        if (p1 !== p2) {
            alert("Passwords do not match.");
            return false;
        }
    }
</script>
</body>
</html>