<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments :: standard-head">
</head>
<body>
<div th:replace="/fragments :: standard-body-div( ~{::h1}, ~{::main})">
	<h1>Reset Password</h1>
	<main>
		<p>Forgot your password? No problem. </p>
		<p>We can send you an email containing a link that will enable you to reset your password.</p>
		<form action="#" th:action="@{/user/resetpw}" method="post" name="resetPwForm">
			<fieldset>
				<legend>Your email address</legend>
				<div class="row">
					<div class="columns large-3">
						<input type="email" name="mail" id="mail" required/>
					</div>
				</div>
				<input type="submit" value="Send me that email" class="red-button"/>
			</fieldset>
		</form>
	</main>
</div>
</body>
</html>