<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments :: standard-head">
</head>
<body>
<div th:replace="/fragments :: standard-body-div( ~{::h1}, ~{::main})">
	<h1>TCBL Applications</h1>

	<main>
		<div sec:authorize="isAuthenticated()">
			<p>To go from here, select a service brought to you by the TCBL consortium:</p>
			<ul>
				<li><a href="https://tcbl.eu/">Main TCBL website</a></li>
				<li><a href="https://zine.tcbl.eu/">_ZINE, the TCBL magazine</a></li>
				<li><a href="https://labs.tcbl.eu/">TCBL Labs platform</a></li>
			</ul>
			<p>Or a service provided by our Associated Service Providers:</p>
			<ul>
				<li><a href="https://thela.cleviria.it/">Thela</a></li>
			</ul>
		</div>
	</main>
</div>
</body>
</html>