<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--
This document is never rendered directly. Its purpose is to provide reusable fragments (pieces of html/js code) in
the other templates.
-->

<!-- This is the standard head element. -->
<head th:fragment="standard-head">
	<title>TCBL User Manager</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/css/tcbl.css}" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<!--/* not needed: -->
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
		$( function() {
			$( "#dialog" ).dialog();
		} );
	</script>
	<!--*/-->
</head>

<body>

<!-- This is the standard body/div element. -->
<div th:fragment="standard-body-div(standardBodyTitle, standardBodyMain)">
	<!--/* common header */-->
	<div class="row tcbl-header">
		<div class="columns">
			<img th:src="@{/assets/TCBLAltsm.png}" alt="TCBL logo">
		</div>
		<div class="columns">
			<h1 th:replace="${standardBodyTitle ?: 'TCBL User Manager'}">Hello</h1>
		</div>
	</div>

	<!--/* contents area */-->
	<div class="row tcbl-contents">
		<!--/* main */-->
		<div class="column-left-70 tcbl-main" th:insert="${standardBodyMain}">
		</div>
		<!--/* links */-->
		<div class="column-right-30 tcbl-links" th:if="${links} != null">
			<th:block th:each="link: ${links}">
				<form action="#" th:action="@{${link.location}}" th:if="${
					(link.displayCondition eq T(be.ugent.idlab.tcbl.userdatamanager.model.Link.DisplayCondition).ALWAYS) or
					((link.displayCondition eq T(be.ugent.idlab.tcbl.userdatamanager.model.Link.DisplayCondition).ANONYMOUS) and
					 #authorization.expression('hasRole(''ROLE_ANONYMOUS'')')) or
					((link.displayCondition eq T(be.ugent.idlab.tcbl.userdatamanager.model.Link.DisplayCondition).AUTHENTICATED) and
					 #authorization.expression('isAuthenticated()'))}">
					<input type="submit" value="Link text here" class="red-button" th:value="${link.text}">
				</form>
			</th:block>
		</div>
	</div>

	<!--/* common status */-->
	<div class="row tcbl-status" th:if="${status} != null">
		<!--/* appended class examples: tcbl-status-ok, tcbl-status-warning, tcbl-status-error */-->
		<span class="tcbl-status-text" th:classappend="|tcbl-status-${#strings.toLowerCase(status.value.name())}|"th:text="${status.text}" >Status text here</span>
	</div>

	<!--/* common footer */-->
	<div class="row tcbl-footer">
		<div class="columns">
			<p>This project has received funding from the European Union's Horizon 2020 Programme for research, technology development, and innovation under grant Agreement n.646133</p>
		</div>
		<div class="columns">
			<img th:src="@{/assets/euh2020.png}" alt="European Commission logo">
		</div>
	</div>
</div>

<!-- A work-in-progress fragment, not OK for usage! -->
<div th:fragment="logout" style="float: right" sec:authorize="isAuthenticated()">
	<div style="float:left">
		<span style="font-weight:bold">User: </span><span sec:authentication="name"></span>
	</div>
	<div style="float:none">&nbsp;</div>
	<div style="float:right">
		<form action="#" th:action="@{/logout}" method="post">
			<input type="submit" value="Logout" />
		</form>
	</div>
</div>

<!-- A script fragment that compares two passwords in a regForm -->
<script th:fragment="validatePassword">
	function validatePassword() {
		var p1 = document.forms["regForm"]["password"].value;
		var p2 = document.forms["regForm"]["cpassword"].value;
		if (p1 !== p2) {
			alert("Passwords do not match.");
			return false;
		}
	}
</script>

</body>