<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--
This document is never rendered directly. Its purpose is to provide reusable fragments (pieces of html/js code) in
the other templates.
-->

<!-- This is the standard head element. -->
<head th:fragment="standard-head">
	<title>TCBL User Manager</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/css/tcbl.css}" />
	<script th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
	<script>
		$( function() {
			$( "#dialog" ).dialog();
		} );
	</script>
	<!--*/-->
	<script>
		$(document).ready(function (e) {
			if ($("#profilePictureLayer").length) {
				if ($.trim($("#profilePictureLayer").html())) {
					$("#profilePictureAdd").hide();
					$("#profilePictureChange").show();
					$("#profilePictureDelete").show();
				} else {
					$("#profilePictureAdd").show();
					$("#profilePictureChange").hide();
					$("#profilePictureDelete").hide();
				}
			}
		});
	</script>
</head>

<body>

<!-- This is the standard body/div element.
       standardBodyVariant == 0 : normal page
       standardBodyVariant == 1 : error page
-->
<div th:fragment="standard-body-div(standardBodyTitle, standardBodyMain, standardBodyVariant)">
	<!--/* common header */-->
	<div class="row tcbl-header">
		<div class="columns">
			<img src="TCBLAltsm.png" th:src="@{/assets/TCBLAltsm.png}" alt="TCBL logo">
		</div>
		<div class="columns">
			<h1 th:replace="${standardBodyTitle ?: 'TCBL User Manager'}">Hello</h1>
		</div>
	</div>

	<!--/* navigation links */-->
	<div class="row tcbl-nav-links">
		<th:block th:unless="${nohomelink}">
			<th:block th:replace="::navlink('Home', '/index')"> </th:block>
		</th:block>
		<th:block th:if="${navLinks} != null">
			<th:block th:replace="::navlinks(${navLinks})"> </th:block>
		</th:block>
		<th:block th:replace="::logout-navlink-style"> </th:block>
	</div>

	<th:block th:if="${standardBodyVariant} == 0">
		<!--/* main contents */-->
		<div class="row tcbl-main" th:insert="${standardBodyMain}">
		</div>

		<!--/* common status */-->
		<div class="row tcbl-status" th:if="${status} != null">
			<!--/* appended class examples: tcbl-status-ok, tcbl-status-warning, tcbl-status-error */-->
			<span th:classappend="|tcbl-status-${#strings.toLowerCase(status.value.name())}|" th:text="${status.text}" >Status text here</span>
		</div>
	</th:block>

	<th:block th:if="${standardBodyVariant} == 1">
		<!--/* render the error as a common status */-->
		<div class="row tcbl-status tcbl-status-error" th:insert="${standardBodyMain}">
		</div>
	</th:block>

	<!--/* common footer */-->
	<div class="row tcbl-footer">
		<div class="columns">
			<p>This project has received funding from the European Union's Horizon 2020 Programme for research, technology development, and innovation under grant Agreement n.646133</p>
		</div>
		<div class="columns">
			<img src="euh2020.png" th:src="@{/assets/euh2020.png}" alt="European Commission logo">
		</div>
	</div>
</div>

<!-- A fragment that displays navigation links (parameter links not null) -->
<th:block th:fragment="navlinks(links)">
	<th:block th:each="link: ${links}">
		<div class="columns no-padding-right">
			<form action="#" th:action="@{${link.location}}" th:if="${
						(link.displayCondition.name() eq 'ALWAYS') or
						((link.displayCondition.name() eq 'ANONYMOUS') and
						 #authorization.expression('hasRole(''ROLE_ANONYMOUS'')')) or
						((link.displayCondition.name() eq 'AUTHENTICATED') and
						 #authorization.expression('isAuthenticated()'))}">
				<th:block th:replace="::navlink(${link.text}, ${link.location})">
				</th:block>
			</form>
		</div>
	</th:block>
</th:block>

<!-- A fragment that displays one navigation link -->
<th:block th:fragment="navlink(text, location)">
	<div class="columns no-padding-right">
		<form action="#" th:action="@{${location}}">
			<input type="submit" value="Link text here" class="button button--nav" th:value="${text}" >
		</form>
	</div>
</th:block>

<!-- A fragment that displays the logout button in the style of a navigation -->
<th:block th:fragment="logout-navlink-style">
	<div class="columns no-padding-right" sec:authorize="isAuthenticated()">
		<form action="#" th:action="@{/logout}" method="post">
			<input type="submit" value="Logout"  class="button button--nav" >
		</form>
	</div>
</th:block>

<!-- A work-in-progress fragment, not OK for usage! -->
<div th:fragment="logout-work-in-progress" style="float: right" sec:authorize="isAuthenticated()">
	<div style="float:left">
		<span style="font-weight:bold">User: </span><span sec:authentication="name"></span>
	</div>
	<div style="float:none">&nbsp;</div>
	<div style="float:right">
		<form action="#" th:action="@{/logout}" method="post">
			<input type="submit" value="Logout" />
		</form>
	</div>
</div>

<!-- A fragment that displays service links (parameter links not null) -->
<th:block th:fragment="srvlinks(links)">
	<th:block th:each="link: ${links}">
		<div>
			<form action="#" target="_blank" th:action="@{${link.url}}">
				<input type="submit" value="Link text here" class="button button--srvlink" th:classappend="|button--srvlink--${link.style}|" th:value="${link.text}">
			</form>
		</div>
	</th:block>
</th:block>


<!-- A script fragment that compares two passwords in a regForm -->
<script th:fragment="validatePassword">
	function validatePassword() {
		var p1 = document.forms["regForm"]["password"].value;
		var p2 = document.forms["regForm"]["cpassword"].value;
		if (p1 !== p2) {
			alert("Passwords do not match.");
			return false;
		}
	}
</script>

<!-- A script fragment that provides functions to interact with profile picture elements -->
<!-- /* deleteProfilePictureFile: see https://stackoverflow.com/questions/20549241/how-to-reset-input-type-file */ -->
<script th:fragment="updateProfilePicture">
	function clickProfilePictureFile() {
		$("#profilePictureFile").click();
	}

	function resetProfilePicture() {
		$('input[name="pictureURL"]').val("");
	}

	function deleteProfilePictureFile() {
		var $el = $("#profilePictureFile");
		$el.wrap('<form>').closest('form').get(0).reset();
		$el.unwrap();
		$("#profilePictureLayer").html('');
		$("#profilePictureAdd").show();
		$("#profilePictureChange").hide();
		$("#profilePictureDelete").hide();
		resetProfilePicture();
	}

	function updateProfilePicture(input) {
		if (input.files && input.files[0]) {
			if (input.files[0].size >= 1048576) {
				alert("Picture file size should be less than 1 MB");
				deleteProfilePictureFile();
			} else {
				var reader = new FileReader();

				reader.onload = function (e) {
					$("#profilePictureLayer").html('<img src="' + e.target.result + '" class="profilePicturePreview" />');
					$("#profilePictureLayer").css('opacity', '0.5');
					$("#profilePictureAdd").hide();
					$("#profilePictureChange").show();
					$("#profilePictureDelete").show();
					resetProfilePicture();
				};

				reader.readAsDataURL(input.files[0]);
			}
		}
	}
</script>

</body>