<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments :: standard-head">
</head>
<body>
<div th:replace="/fragments :: standard-body-div( ~{::h1}, ~{::main})">
	<h1>TCBL User  Manager</h1>

	<main>
		<div>
			<p>Welcome to the TCBL User Management application!</p>
			<p>If you forgot your password, you can reset it.</p>
			<p sec:authorize="hasRole('ROLE_ANONYMOUS')">If you want to change the information you share with TCBL services, first log in.</p>
		</div>

		<!--/* links */-->
		<div class="row tcbl-links" th:if="${links} != null" th:insert="/fragments :: links-buttons (${links})">
		</div>
	</main>
</div>
</body>
</html>