<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments :: standard-head">
</head>
<body>
<div th:replace="/fragments :: standard-body-div( ~{::h1}, ~{::main})">
	<h1>TCBL User  Manager</h1>

	<main>
		<div>
			<p>Welcome to the TCBL User Management application!</p>
			<p>If you want to change the information you share with TCBL services, sign in below.</p>
			<p>This is still work in progress, more to come soon!</p>
		</div>
		<div>&nbsp;</div>

		<div th:if="${message} != null" id="dialog" th:title="${message.title}">
		   <p th:text="${message.message}"></p>
		</div>

		<div sec:authorize="hasRole('ROLE_ANONYMOUS')">
			<a href="/oiclogin" th:href="@{/oiclogin}">Log in with TCBL</a>
		</div>

		<div sec:authorize="isAuthenticated()">
			<a href="/user/index" th:href="@{/user/index}">Manage your info</a>
		</div>
	</main>
</div>
</body>
</html>