<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments :: standard-head">
</head>
<body>
<div th:replace="/fragments :: standard-body-div( ~{::h1}, ~{::main})">
	<h1>TCBL User Manager</h1>

	<main>
		<div>
			<p>TCBL login uses the OpenID Connect technology for Single Sign On to access participating TCBL Services.</p>
			<p>When you navigate between TCBL services, your TCBL account is recognized and as far as you agree, the profile information you added to it is passed on.</p>
			<p>You have full control over your profile information. and how it is used by other services.</p>
			<p sec:authorize="hasRole('ROLE_ANONYMOUS')">If you do not have a TCBL Single Sign On account yet, this is a good time to sign up for TCBL.</p>
		</div>
	</main>
</div>
</body>
</html>