<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments :: head">
<body>

<div th:replace="/fragments :: header( ~{::h1}, ~{::main})">
    <h1>User numbers</h1>
    <main>
        <div th:if="${stats} != null">
            <table th:object="${stats}">
                <tr><td>Total count:</td><td th:text="*{totalCount}"></td> </tr>
                <tr><td>Invited:</td><td th:text="*{invited}"></td> </tr>
                <tr><td>Invited, inactive:</td><td th:text="*{invitedInactive}"></td> </tr>
                <tr><td>new users:</td><td th:text="*{newUsers}"></td> </tr>
            </table>
        </div>
        <div th:unless="${stats} != null">
            <p>No stats found!</p>
        </div>
        <canvas id="chartOne" width="600" height="200"></canvas>
        <canvas id="chartTwo" width="600" height="200"></canvas>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
        <script th:inline="javascript">
            var ctx1 = document.getElementById("chartOne").getContext('2d');
            var ctx2 = document.getElementById("chartTwo").getContext('2d');
            var dates = [[${dates}]];
            var activeCounts = [[${active}]];
            var totalActiveCounts = [[${totalActive}]];
            // see http://www.chartjs.org/docs/latest/
            var chartTotal = new Chart(ctx1,
                {
                    type: 'line',
                    data: {
                        labels: dates,
                        datasets: [
                            {
                                label: 'Total Users',
                                data: totalActiveCounts,
                                borderColor: 'blue'
                            }
                        ]
                    },
                    options: {
                        scales: {
                            yAxes: [
                                {
                                    ticks: {
                                        stepSize: 1
                                    }

                                }
                            ]
                        },
                        elements: {
                            line: {
                                tension: 0 // disables bezier curves
                            }
                        }
                    }
                }
            );
            var chartTotal = new Chart(ctx2,
                {
                    type: 'bar',
                    data: {
                        labels: dates,
                        datasets: [
                            {
                                label: 'New users',
                                data: activeCounts,
                                borderColor: 'red',
                                borderWidth: 2
                            }
                        ]
                    },
                    options: {
                        scales: {
                            yAxes: [
                                {
                                    ticks: {
                                        stepSize: 1,
                                        beginAtZero: true
                                    }

                                }
                            ]
                        }
                       /* elements: {
                            line: {
                                tension: 0 // disables bezier curves
                            }
                        }*/
                    }
                }
            );
        </script>
    </main>
</div>

</body>
</html>