<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: standard-head">
</head>
<body>
<div th:replace="fragments :: standard-body-div( ~{::h1}, ~{::main}, 0)">
    <h1>User numbers</h1>
    <main>
        <div th:if="${totalCount} != null">
            <table>
                <tr><td>Total count:</td><td th:text="${totalCount}"></td> </tr>
                <tr><td>Invited:</td><td th:text="${invited}"></td> </tr>
                <tr><td>Active (invited):</td><td th:text="${invitedActive}"></td> </tr>
                <tr><td>Active (self-registered):</td><td th:text="${newUsers}"></td> </tr>
            </table>
        </div>
        <div th:unless="${totalCount} != null">
            <p>No stats found!</p>
        </div>
        <canvas id="myChart" width="600" height="400"></canvas>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
        <script th:inline="javascript">
            var ctx = document.getElementById("myChart").getContext('2d');
            var dates = [[${dates}]];
            var activeCounts = [[${active}]];
            var totalActiveCounts = [[${totalActive}]];
            // see http://www.chartjs.org/docs/latest/
            var activeChart = new Chart(ctx,
                {
                    type: 'bar',
                    data: {
                        labels: dates,
                        datasets: [
                            {
                                label: 'Added active users',
                                yAxisID: 'y1',
                                data: activeCounts,
                                borderColor: 'red',
                                borderWidth: 2
                            },
                            {
                                label: 'Total active users',
                                yAxisID: 'y2',
                                data: totalActiveCounts,
                                borderColor: 'blue',
                                fill: false,
                                type: 'line'
                            }
                        ]
                    },
                    options: {
                        scales: {
                            yAxes: [
                                {
                                    id: 'y1',
                                    position: 'left',
                                    ticks: {
                                        beginAtZero: true,
                                        stepSize: 1
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Added active users',
                                        fontColor: 'red'
                                    },
                                    gridLines: false
                                },
                                {
                                    id: 'y2',
                                    position: 'right',
                                    ticks: {
                                        beginAtZero: true,
                                        stepSize: 5
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Total active users',
                                        fontColor: 'blue'
                                    },
                                    gridLines: false
                                }
                            ]
                        },
                        elements: {
                            line: {
                                tension: 0 // disables bezier curves
                            }
                        }
                    }
                }
            );
        </script>
    </main>
</div>
</body>
</html>